{% extends 'web/web_base.html' %}
{% load static %}
{% block content %}

    
    <section class="hero-wrap hero-wrap-2" style="background-image: url('{% static 'web/images/bg_1.jpg' %}');" data-stellar-background-ratio="0.5">
      <div class="overlay"></div>
      <div class="container">
        <div class="row no-gutters slider-text align-items-center justify-content-center">
          <div class="col-md-9 ftco-animate text-center">
            <h1 class="mb-2 bread">Services</h1>
            <p class="breadcrumbs"><span class="mr-2"><a href="{% url 'web_index' company.key company.id %}">Home <i class="ion-ios-arrow-forward"></i></a></span> <span>Services <i class="ion-ios-arrow-forward"></i></span></p>
          </div>
        </div>
      </div>
    </section>

		<section class="ftco-services">
			<div class="container">
				<div class="row justify-content-start mb-5 pb-5">
          <div class="col-md-4 heading-section ftco-animate">
            <h2 class="mb-4">Our Work Flow</h2>
          </div>
          <div class="col-md-8 pl-md-5 ftco-animate">
          	<div class="pl-md-4 border-line">
	          	<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in.</p>
          	</div>
          </div>
        </div>
				<div class="row">
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-idea"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Perfectly Design</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-compass-symbol"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Carefully Planned</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>
          </div>
          <div class="col-md-4 d-flex align-self-stretch ftco-animate">
            <div class="media block-6 services d-block">
              <div class="icon d-flex justify-content-center align-items-center">
            		<span class="flaticon-layers"></span>
              </div>
              <div class="media-body p-2 mt-3">
                <h3 class="heading">Smartly Execute</h3>
                <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
              </div>
            </div>
          </div>
        </div>
        <div class="row justify-content-start mt-5 py-5">
          <div class="col-md-4 heading-section ftco-animate">
            <h2 class="mb-4">Our Services</h2>
            <p>Even the all-powerful Pointing has no control about the blind texts it is an almost unorthographic.</p>
          </div>
          <div class="col-md-8 ftco-animate">
          	<div class="row d-flex">
          		 {% for service in company.services_set.all %}
                    <div class="col-md-6 d-flex align-items-stretch">
                        <div class="media block-6 services services-2 d-block bg-light p-4 mb-4">
                            <div class="icon d-flex justify-content-center align-items-center">
                                <span class="flaticon-layers"></span>
                            </div>
                            <div class="media-body p-2 mt-3">
                                <h3 class="heading">{{service.name}}</h3>
                                <p>{{service.details|safe}}</p>
                            </div>
                        </div>
                    </div>
                   {% endfor %}
          	</div>
          </div>
        </div>
			</div>
		</section>

		<section class="ftco-section bg-light">
    	<div class="container">
    		<div class="row justify-content-start mb-5 pb-2">
          <div class="col-md-4 heading-section ftco-animate">
          	<span class="subheading subheading-with-line"><small class="pr-2 bg-light">Projects</small></span>
            <h2 class="mb-4">Done Projects</h2>
          </div>
          <div class="col-md-8 pl-md-5 heading-section ftco-animate">
          	<div class="pl-md-4 border-line">
	          	<p>Far far away, behind the word mountains, far from the countries Vokalia and Consonantia, there live the blind texts. Separated they live in. A small river named Duden flows by their place and supplies it with the necessary regelialia. It is a paradisematic country, in which roasted parts of sentences fly into your mouth.</p>
          	</div>
          </div>
        </div>
    	</div>
    	<div class="container">
    		<div class="row">
                {% for image in company.interiordesignimage_set.all|slice:"0:4" %}
    			<div class="col-md-6 col-lg-3 ftco-animate">
    				<div class="project">
	    				<img src="/media/{{image.image}}" class="img-fluid" alt="Colorlib Template">
	    				<div class="text">
	    					<span>Interior Design</span>
	    					<h3><a href="{% url 'web_project' company.key company.id %}">Office Interior Design</a></h3>
	    				</div>
	    				<a href="/media/{{image.image}}" class="icon image-popup d-flex justify-content-center align-items-center">
	    					<span class="icon-expand"></span>
	    				</a>
    				</div>
    			</div>
    			{% endfor %}
    	</div>
        </div>
    </section>
    
  {% endblock %}