<!DOCTYPE html> {% extends 'company_base.html' %}
<html lang="en">

<head>
    <meta charset="UTF-8">
</head>

<body class="hold-transition skin-blue sidebar-mini">
    {% block content %}
<script>
  $(document).ready(function(){
    $('#id_file').attr("multiple","true");

  })
     function myDelete(id) {

            Swal.fire({
                title: 'Are you sure?',
                text: "You won't be able to revert this!",
                type: 'warning',
                showCancelButton: true,
                confirmButtonColor: '#3085d6',
                cancelButtonColor: '#d33',
                confirmButtonText: 'Yes, delete it!'
            }).then((result) => {
                if (result.value) {

                    if (id != null) {

                        Swal.fire(
                            'Deleted!',
                            'Your file has been deleted.',
                            'success'
                        )

                        var url = "{% url 'delete_blog' 123 %}";
                        var id_ = id;

                        // // Construct the full URL with "id"
                        document.location.href = url.replace('123', id_);

                    }
                }
            })

        }
 </script>

    <style>
        th {
            font-size: 16px;
            padding: 3px 10px 8px 0px;
        }

        td {
            0px 8px 3px 2px;
        }

        body {
            font-family: "Open Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", Helvetica, Arial, sans-serif;
        }

          textarea{
            width: 219px;
            height: 95px;
        }

        img{
            width: 50px;
            height: 50px;
        }

    </style>

    <center>

        {% if messages %} {% for msg in messages %} {%if msg%}
        <script>
            Swal.fire({
                position: 'top-end',
                type: 'success',
                title: '{{msg.message}}',
                showConfirmButton: false,
                timer: 1500
            })
        </script>
        {%endif%} {% endfor %} {% endif %}

        <div class="box box-primary">
            <div class="box-header with-border">
                <h3 class="box-title" style="font-size:25px">Add Blog</h3>
            </div>
            <form role="form" method="post" action="{% url 'create_blog' %}" enctype="multipart/form-data">
                <div class="box-body">
                    <table>
                        {% csrf_token %} {{form.as_table}}
                    </table>
                </div>
                <div class="box-footer">
                    <input type="submit" class="btn btn-primary" {% if object.id %}  value="Update" formaction="{% url 'update_blog' object.id %}" {%endif%}>
                    <button type="reset" class="btn btn-primary">Reset</button>
                </div>
            </form>
        </div>
    </center>


       <div class="row">
        <div class="col-xs-12">
          <!-- /.box -->

          <div class="box">
            <div class="box-header">
              <h3 class="box-title">Data Table With Full Features</h3>
            </div>
            <!-- /.box-header -->
            <div class="box-body">
              <table id="example1" class="table table-bordered table-striped">
                <thead>
                <tr>
                  <th>Id</th>
                  <th>Title</th>
                  <th>Descripsion</th>
                  <th>Creation Date</th>
                  <th>Image</th>
                  <th>Update</th>
                  <th>Delete</th>

                </tr>
                </thead>
                <tbody>
                  {% for blog in blog_list %}
                    <tr>
                        <td>{{blog.id}}</td>
                        <td>{{blog.title}}</td>
                        <td>{{blog.descripsion|safe}}</td>
                        <td>{{blog.creation_date}}</td>
                        <td><img src="/media/{{blog.image}}"></td>
                         <td>
                            <a href="{% url 'update_blog' blog.id %}">
                                <i class="fa fa-pencil-square-o"></i></a>
                        </td>
                        <td><i class="fa fa-trash-o" onclick="myDelete({{blog.id}})" aria-hidden="true"></i></td>

                    </tr>
                    {%endfor%}
                </tbody>
              </table>
            </div>
            <!-- /.box-body -->
          </div>
          <!-- /.box -->
        </div>
        <!-- /.col -->
      </div>


    {% endblock %}
</body>

</html>